<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <style>
        .nav {
            overflow: hidden;
            background-color: #333;
            font-family: "Segoe UI", Arial, sans-serif;
        }
        .nav a {
            float: left;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        .nav a:hover {
            background-color: #ddd;
            color: black;
        }
    </style>
</head>
<body>
<div class="nav">
    <a href="/users">Users</a>
    <a href="/roles">Roles</a>
    <a href="/user-roles">User roles</a>
    <a href="/notes">Notes</a>
    <a href="/files">Files</a>
</div>
<br>
<p th:text="${role.getName()}">VALUE</p>
<p th:text="${role.getDescription()}">VALUE</p>

<a th:href="@{/roles/{id}/edit(id=${role.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/roles/{id}(id=${role.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>
